body {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-event-sign-in-the-exhibition-board-background-material-image_161842.jpg'); /* Cambia 'ruta_de_tu_imagen.jpg' por la URL o ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
    text-align: center; /* Centra el contenido en la página */
    padding-top: 50px; /* Espacio superior para separar el contenido del borde superior */
}

table, th, td {
    background-color: #1d62c2;
    padding: 5px;
    border: 2px solid #000000;
    background-color: #f8f6f6 ;
}
 

h2 {
    text-align: center;
    font-size: 36px;
    color: #f3f1f1;
    margin-bottom: 20px;
}
/* Estilo para los encabezados de las secciones */
h3 {
    background-color: #1d62c2;
    color: #faf5f5;
    padding: 10px;
    width: 317px;
}
h4{
    color: #f3f1f1;
    font-size: 36px;
}
/* Estilo para los enlaces "Editar" y "Eliminar" */
a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #1877F2;
}
/* Estilos para el encabezado h1 */
h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Estilos para la barra de navegación */
nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    background-color: #1877F2;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1877F2;
}


tr.button-row {
    text-align: center;
}

tr.button-row td {
    padding: 10px;
}

input[type="reset"] {
    background-color: #1877F2;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"] {
    background-color: #1877F2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
/* Estilos para el enlace */
a {
    text-decoration: none; /* Elimina el subrayado predeterminado */
    color: #020202; /* Cambia el color del enlace */
    font-weight: bold; /* Hace que el enlace sea más audaz */
}

/* Estilos para el enlace al pasar el mouse por encima */
a:hover {
    color: #000000; /* Cambia el color al pasar el mouse por encima */
}
  /* Estilos para la tabla */
  .menu {
    width: 100%; /* Ancho del 100% del contenedor padre */
    border-collapse: collapse; /* Colapsar los bordes de las celdas */
    margin-bottom: 20px; /* Espacio inferior entre la tabla y el contenido siguiente */
}

/* Estilos para las celdas */
.menu td {
    padding: 10px; /* Espaciado interno en las celdas */
    text-align: center; /* Alinear texto al centro */
    border: 5px solid #0056b3; /* Borde de 1 píxel con color gris claro */
}

/* Estilos para los enlaces */
.menu a {
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    color: 10153B; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}